body
{
	font-family: Roboto,sans-serif;
}

@keyframes a-nemetall {
	from {
	}

	to {
		background-color: #a0ffa0;
	}
}

.nemetall:hover{
	background-color: #a0ffa0;
}
.nemetall:hover ~ .nemetall {
	background-color: #a0ffa0;
}

.blagorod {
	background-color: #c0ffff;
}
.sheloch-metall {
	background-color: #FF6666;
}
.zemel-metall {
	background-color: #FFDEAD;
}
.polumetall {
	background-color: #cccc99;
}
.galogen {
	background-color: #ffff99;
}
.postmetall {
	background-color: #cccccc;
}
.perehmetall {
	background-color: #ffc0c0;
}